/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
#error-404 {
    padding-bottom: 10.875rem;
    position: relative;

    h4 {
        font-weight: 500;
    }
}