
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.about {
	.about-banner-content {
		h4 {
			font-size: 1.325rem;
			color: #66c584;
			font-weight: 400;
		}
	}
}

.about-us-link {
	a {
		color: white;
		border-radius: 2rem;
	}
}

.about-content {
	h3 {
		font-size: 2.8125rem;
		font-weight: 500;
		line-height: 3.4375rem;
	}

	p {
		color: #9c9c9f;
		font-size: 0.875rem;		
		line-height: 1.3125rem;
	}
}