
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: black;
}

#footer-top {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	border-bottom: 1px solid #333333;

	h2 {
		font-size: 3.125rem;		
		font-weight: 500;
		line-height: 3.75rem;
	}
	
	p {
		color: #606060;
	}
}

#footer-main {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	border-bottom: 1px solid #333333;

	.navbar-brand {
		img {
			width: 4.5rem;
			margin-top: -1rem;
		}
	}
}

#footer-bottom {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
}

#copyrights {
	color: #808080;
	font-weight: 600;	
	z-index: 1;	
	font-size: 0.875rem;
}