
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

// Form label
.form-label {
    font-size: 0.875rem;
    color: rgba($black, 0.5);
}