
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
.navbar-brand {
	margin-right: 3.375rem;

	img {
		max-width: 5.0625rem;
	}
}


/* ----------------------------------------------------------------
	Navs
-----------------------------------------------------------------*/
.navbar-expand-lg .navbar-nav .nav-link {
	@include media-breakpoint-only(xl) {
		padding-right: 1.5rem;
    	padding-left: 1.5rem;
	}

	@include media-breakpoint-only(lg) {
		padding-right: 1.5rem;
    	padding-left: 1.5rem;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	.nav-item {
		margin-left: 1rem;
	}

	.nav-link {
		color: $white;		
		font-size: $top-btn-font-size;	
		line-height: 1;
		background-color: $theme-color;
		padding: 0.7rem;
		border-radius: 50%;
	}
}



/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






