
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	padding: 2rem;

	.fbox-icon {
		min-width: 5rem;
		text-align: center;
		
		i {
			font-size: 1.5rem;
		}
	}

	p {
		color: #929699;
		line-height: 1.2rem;
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}