
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	display: flex;
	align-items: center;
	padding: 1.875rem;

	.fbox-icon {
		flex: 0 0 auto;
		height: 6.875rem;
		width: 6.875rem;
		text-align: center;
		margin-right: 1.5rem;		
		
		i {
			font-size: 3rem;
			line-height: 6.875rem;
		}
	}

	.fbox-header {
		p {
			color: #929699;
		}
	}	
}